@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?xb9nlv');
    src:    url('icomoon.eot?xb9nlv#iefix') format('embedded-opentype'),
        url('icomoon.ttf?xb9nlv') format('truetype'),
        url('icomoon.woff?xb9nlv') format('woff'),
        url('icomoon.svg?xb9nlv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e900";
  
}
